ion-col.column-container{
  white-space: pre-wrap;
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 10px;
}
//  height: 100%;
//}
//
//ion-row{
//  height: 20%;
//  margin-bottom: 25px;
//}
//


ion-img.contentCol{
  height: 100px;
  //width: 100px;
}