<ion-header>
  <ion-toolbar color="primary" class="ion-text-center" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/fatwa/fatwa-list" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>الفتوى</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text *ngIf="id === 1"><h2>
    الجواب: إذا كانت المرأة فقيرة، وأعطيت من الزكاة شيئاً من المال، وأحبت أن تشتري منه سلعةً تلبسها من الذهب والفضة، فلا حرج في ذلك؛ لأن هذا من الأمور العادية، مثل ما تلبس الملابس الجميلة في المناسبات، وإن كانت من أهل الزكاة، فلا حرج عليها أن تشتري من مال الزكاة الذي دفع إليها، حاجتها من الملابس الذهبية وغيرها. نعم.
  </h2></ion-text>
  <ion-text *ngIf="id === 2"><h2>
    إذا كان يخشى أنه غني، إذا كان فيه التباس، أما إن كنت تعلم أنه فقير ما يحتاج تقول له شيء.
    س: أنا أعلم أنه فقير لكنه مثلًا أخ قريب لي؟
    ج: تعطيه إياها ولا تقول له شيء، أما إذا كنت تشك فيه يمكن عنده مال وأنت ما تدري تقول له: ترى هذه من الزكاة.
    س: أنا أعرف أن ما عنده مال لكن بعضهم يتورع عن أخذ الزكاة؟
    الشيخ: لا لا، اعطه إياه ولا تقل له زكاة.
  </h2></ion-text>
  <ion-text *ngIf="id == 3"><h2>
    ليس فيه زكاة على الصحيح، لكن إذا حال عليه الحولُ وقد عدَّه صاحبُه للبيع صار من عروض التِّجارة، وإن كان ذهبًا أو فضةً وجبت فيه الزكاة إذا حال عليه الحول، أما إن كان غير ذلك، إن كان المخرج من البحر غير ذلك، وأعدَّه صاحبه للبيع؛ صار من عروض التِّجارة.
  </h2></ion-text>
  <ion-text *ngIf="id == 4"><h2>
    لا، المساجد لا تبنى من الزكاة، المساجد والمدارس لا تبنى من الزكاة، لكن تبنى بمساعدة أهل الخير، أما الزكوات فتصرف فيما قال الله جل وعلا: إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ وَالْمَسَاكِينِ وَالْعَامِلِينَ عَلَيْهَا وَالْمُؤَلَّفَةِ قُلُوبُهُمْ وَفِي الرِّقَابِ وَالْغَارِمِينَ وَفِي سَبِيلِ اللَّهِ وَابْنِ السَّبِيلِ [التوبة: 60] وفي سبيل الله: هؤلاء هم المجاهدون عند أهل العلم.
  </h2></ion-text>
  <ion-text *ngIf="id === 5"><h2>
    الجواب: إذا كانت المرأة فقيرة، وأعطيت من الزكاة شيئاً من المال، وأحبت أن تشتري منه سلعةً تلبسها من الذهب والفضة، فلا حرج في ذلك؛ لأن هذا من الأمور العادية، مثل ما تلبس الملابس الجميلة في المناسبات، وإن كانت من أهل الزكاة، فلا حرج عليها أن تشتري من مال الزكاة الذي دفع إليها، حاجتها من الملابس الذهبية وغيرها. نعم.
  </h2></ion-text>
  <ion-text *ngIf="id === 6"><h2>
    إذا كان يخشى أنه غني، إذا كان فيه التباس، أما إن كنت تعلم أنه فقير ما يحتاج تقول له شيء.
    س: أنا أعلم أنه فقير لكنه مثلًا أخ قريب لي؟
    ج: تعطيه إياها ولا تقول له شيء، أما إذا كنت تشك فيه يمكن عنده مال وأنت ما تدري تقول له: ترى هذه من الزكاة.
    س: أنا أعرف أن ما عنده مال لكن بعضهم يتورع عن أخذ الزكاة؟
    الشيخ: لا لا، اعطه إياه ولا تقل له زكاة.
  </h2></ion-text>
  <ion-text *ngIf="id == 7"><h2>
    ليس فيه زكاة على الصحيح، لكن إذا حال عليه الحولُ وقد عدَّه صاحبُه للبيع صار من عروض التِّجارة، وإن كان ذهبًا أو فضةً وجبت فيه الزكاة إذا حال عليه الحول، أما إن كان غير ذلك، إن كان المخرج من البحر غير ذلك، وأعدَّه صاحبه للبيع؛ صار من عروض التِّجارة.
  </h2></ion-text>
  <ion-text *ngIf="id == 8"><h2>
    لا، المساجد لا تبنى من الزكاة، المساجد والمدارس لا تبنى من الزكاة، لكن تبنى بمساعدة أهل الخير، أما الزكوات فتصرف فيما قال الله جل وعلا: إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ وَالْمَسَاكِينِ وَالْعَامِلِينَ عَلَيْهَا وَالْمُؤَلَّفَةِ قُلُوبُهُمْ وَفِي الرِّقَابِ وَالْغَارِمِينَ وَفِي سَبِيلِ اللَّهِ وَابْنِ السَّبِيلِ [التوبة: 60] وفي سبيل الله: هؤلاء هم المجاهدون عند أهل العلم.
  </h2></ion-text>
  <ion-text *ngIf="id === 9"><h2>
    الجواب: إذا كانت المرأة فقيرة، وأعطيت من الزكاة شيئاً من المال، وأحبت أن تشتري منه سلعةً تلبسها من الذهب والفضة، فلا حرج في ذلك؛ لأن هذا من الأمور العادية، مثل ما تلبس الملابس الجميلة في المناسبات، وإن كانت من أهل الزكاة، فلا حرج عليها أن تشتري من مال الزكاة الذي دفع إليها، حاجتها من الملابس الذهبية وغيرها. نعم.
  </h2></ion-text>
  <ion-text *ngIf="id === 10"><h2>
    إذا كان يخشى أنه غني، إذا كان فيه التباس، أما إن كنت تعلم أنه فقير ما يحتاج تقول له شيء.
    س: أنا أعلم أنه فقير لكنه مثلًا أخ قريب لي؟
    ج: تعطيه إياها ولا تقول له شيء، أما إذا كنت تشك فيه يمكن عنده مال وأنت ما تدري تقول له: ترى هذه من الزكاة.
    س: أنا أعرف أن ما عنده مال لكن بعضهم يتورع عن أخذ الزكاة؟
    الشيخ: لا لا، اعطه إياه ولا تقل له زكاة.
  </h2></ion-text>
  <ion-text *ngIf="id == 11"><h2>
    ليس فيه زكاة على الصحيح، لكن إذا حال عليه الحولُ وقد عدَّه صاحبُه للبيع صار من عروض التِّجارة، وإن كان ذهبًا أو فضةً وجبت فيه الزكاة إذا حال عليه الحول، أما إن كان غير ذلك، إن كان المخرج من البحر غير ذلك، وأعدَّه صاحبه للبيع؛ صار من عروض التِّجارة.
  </h2></ion-text>
  <ion-text *ngIf="id == 12"><h2>
    لا، المساجد لا تبنى من الزكاة، المساجد والمدارس لا تبنى من الزكاة، لكن تبنى بمساعدة أهل الخير، أما الزكوات فتصرف فيما قال الله جل وعلا: إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ وَالْمَسَاكِينِ وَالْعَامِلِينَ عَلَيْهَا وَالْمُؤَلَّفَةِ قُلُوبُهُمْ وَفِي الرِّقَابِ وَالْغَارِمِينَ وَفِي سَبِيلِ اللَّهِ وَابْنِ السَّبِيلِ [التوبة: 60] وفي سبيل الله: هؤلاء هم المجاهدون عند أهل العلم.
  </h2></ion-text>
  <ion-text *ngIf="id === 13"><h2>
    الجواب: إذا كانت المرأة فقيرة، وأعطيت من الزكاة شيئاً من المال، وأحبت أن تشتري منه سلعةً تلبسها من الذهب والفضة، فلا حرج في ذلك؛ لأن هذا من الأمور العادية، مثل ما تلبس الملابس الجميلة في المناسبات، وإن كانت من أهل الزكاة، فلا حرج عليها أن تشتري من مال الزكاة الذي دفع إليها، حاجتها من الملابس الذهبية وغيرها. نعم.
  </h2></ion-text>
  <ion-text *ngIf="id === 14"><h2>
    إذا كان يخشى أنه غني، إذا كان فيه التباس، أما إن كنت تعلم أنه فقير ما يحتاج تقول له شيء.
    س: أنا أعلم أنه فقير لكنه مثلًا أخ قريب لي؟
    ج: تعطيه إياها ولا تقول له شيء، أما إذا كنت تشك فيه يمكن عنده مال وأنت ما تدري تقول له: ترى هذه من الزكاة.
    س: أنا أعرف أن ما عنده مال لكن بعضهم يتورع عن أخذ الزكاة؟
    الشيخ: لا لا، اعطه إياه ولا تقل له زكاة.
  </h2></ion-text>
  <ion-text *ngIf="id == 15"><h2>
    ليس فيه زكاة على الصحيح، لكن إذا حال عليه الحولُ وقد عدَّه صاحبُه للبيع صار من عروض التِّجارة، وإن كان ذهبًا أو فضةً وجبت فيه الزكاة إذا حال عليه الحول، أما إن كان غير ذلك، إن كان المخرج من البحر غير ذلك، وأعدَّه صاحبه للبيع؛ صار من عروض التِّجارة.
  </h2></ion-text>
  <ion-text *ngIf="id == 16"><h2>
    لا، المساجد لا تبنى من الزكاة، المساجد والمدارس لا تبنى من الزكاة، لكن تبنى بمساعدة أهل الخير، أما الزكوات فتصرف فيما قال الله جل وعلا: إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ وَالْمَسَاكِينِ وَالْعَامِلِينَ عَلَيْهَا وَالْمُؤَلَّفَةِ قُلُوبُهُمْ وَفِي الرِّقَابِ وَالْغَارِمِينَ وَفِي سَبِيلِ اللَّهِ وَابْنِ السَّبِيلِ [التوبة: 60] وفي سبيل الله: هؤلاء هم المجاهدون عند أهل العلم.
  </h2></ion-text>
</ion-content>
