<ion-header>
  <ion-toolbar color="primary" mode="ios">
      <ion-menu-button color="light" slot="end"></ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">فتاوى الزكاة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item button="true" routerLink="/home/fatwa/fatwa-list/1">
        <ion-thumbnail>
          <img src="assets/images/1.png">
        </ion-thumbnail>
          <ion-label>فتاوى زكاة الذهب</ion-label>
      </ion-item>


      <ion-item button="true" routerLink="/home/fatwa/fatwa-list/2">
        <ion-thumbnail>
          <img src="assets/images/2.png">
        </ion-thumbnail>
          <ion-label>فتاوى زكاة المال</ion-label>
      </ion-item>

      <ion-item  button="true" routerLink="/home/fatwa/fatwa-list/3">
        <ion-thumbnail>
          <img src="assets/images/3.png">
        </ion-thumbnail>
          <ion-label>فتاوى زكاة التجارة</ion-label>
      </ion-item>


      <ion-item  button="true" routerLink="/home/fatwa/fatwa-list/4">
        <ion-thumbnail>
          <img src="assets/images/4.png">
        </ion-thumbnail>
          <ion-label>فتاوى زكاة الفضة</ion-label>
      </ion-item>

      <ion-item  button="true" routerLink="/home/fatwa/fatwa-list/5">
        <ion-thumbnail>
          <img src="assets/images/5.png">
        </ion-thumbnail>
          <ion-label>فتاوى زكاة الاسهم</ion-label>
      </ion-item>


      <ion-item  button="true" routerLink="/home/fatwa/fatwa-list/6">
        <ion-thumbnail>
          <img src="assets/images/6.png">
        </ion-thumbnail>
          <ion-label>فتاوى زكاة الصناديق الاستثمارية</ion-label>
      </ion-item>

      <ion-item  button="true" routerLink="/home/fatwa/fatwa-list/7">
          <ion-thumbnail>
              <img src="assets/images/7.png">
          </ion-thumbnail>
          <ion-label>فتاوى زكاة الفطر</ion-label>
      </ion-item>
  </ion-list>

</ion-content>
